{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block content %}


<script src="https://maps.api.2gis.ru/2.0/loader.js"></script>


<div class="ui column centered grid" id="content-choice" style="height: 200px;">
    <div class="ui segment inverted" id="segment-choice">
        <div class="content">
            <h1 class="white">Get in touch with us.</h1>
            <h3 class="white">Ask what you want to know via information below.</h3>
        </div>
    </div>

</div>


<div class="ui container">
    <div class="ui grid" style="margin-top: 70px;">
        <div class="ui card seven wide column">
            <div class="content">
                <div class="header">Our location:</div>
            </div>
            <div class="content">
                <div id="map" style="width: 100%; height: 400px;">
                </div>
                <script>

                    DG.then(function () {
                        DG.map('map', {
                            center: [54.98, 82.89],
                            zoom: 13,

                        });
                    });
                </script>
            </div>
        </div>
        <div class="ui card eight wide column right floated" style="margin-top: 0;">
            <div class="content">
                <div class="header">Feel free to contact us</div>
            </div>
            <div class="content">
                <form class="ui form">
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" name="first-name" placeholder="First Name">
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" name="last-name" placeholder="Last Name">
                    </div>
                    <div class="field">
                        <label>Comments</label>
                        <textarea rows="2"></textarea>
                    </div>
                    <button class="ui button" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
