{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
{{ form.media }}
{% endblock head_extra %}


{% block content %}
<div class='ui container'>
    <div class="ui grid">
        <div class="eight wide column ui segment" style="margin-top:11px">
            <h1>Create Post</h1>
            <div>
                <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
                    {{ form.as_p }}
                    <input type='submit' class='ui green button' style="margin-top:10px" value='Create Post'/>
                </form>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <h1>Preview</h1>
                <hr>
                <h3 id='preview-title'></h3>
                <p id='preview-content'></p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}