{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}


<div class='ui container'>
    <div class="ui grid">
        <div class="eleven wide column">
            <a class="button ui blue" href='{% url "news:list" %}'>
                <i class="arrow left icon"></i> Back to list
            </a>
            {% if staff == "yes" %}
            <span>
                    Staff only: 
                </span>
            <a href='{{ instance.get_update_url }}' class="button ui tiny">Edit</a>
            <a href='{{ instance.get_delete_url }}' class="button ui tiny">Delete</a>
            <a class="button ui tiny" href='{% url "news:create" %}'>Create another post</a>
            {% endif %}
            <div class="ui grid" style="margin-top:20px">
                <div class="twelve wide column">
                    <a href="{{ instance.get_author }}" style="color:#333;font-weight: 600;">
                        {{ instance.user.username }}</a> ({{ instance.publish }})
                    <h1 style="margin-top: 10px;">{{ title }}</h1>
                    {{ instance.get_markdown }}
                    {% if instance.image %}
                    <img class="responsive-img" src='{{ instance.image.url }}'/>
                    {% endif %}
                </div>
            </div>
            <div class="ui threaded comments">
                {% if is_auth == False %}
                <h3>
                    Please, <a href='{% url "login" %}'>login</a> to comment other users.
                </h3>
                {% endif %}
                <h3 class="ui dividing header">
                    {{ comments.count }} Comment{% if comments.count > 1 or comments.count == 0 %}s{% endif %}
                </h3>
                {% if is_auth == True %}
                <form class="ui comment-reply form hide-me" method="POST" action='' enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type='submit' class='ui button blue submit' value='Post comment' style="margin-top: 20px;">
                </form>
                {% endif %}

                {% for comment in comments_parents %}
                <div class="comment" id="comments">
                    {% if comment.author.image %}
                    <a class="avatar" href="{{ comment.get_profile }}">
                        <img src="{{ comment.author.image.url }}" class="user_img_comments">
                    </a>
                    {% endif %}
                    <div class="content">
                        <a href="{{ comment.get_profile }}" class="author">
                            {{ comment.user }}
                        </a>
                        <div class="metadata">
                                <span class="date">
                                    {{ comment.timestamp|timesince }} ago
                                </span>
                        </div>
                        <div class="text">
                            {{ comment.content }}
                        </div>
                        <div class="actions">
                            {% if is_auth == True %}
                            <a class="comment-reply-btn reply reply-me">Reply</a>
                            {% endif %}
                            {% if request.user == comment.user or staff == "yes" %}
                            <a href='{{ comment.get_delete_url }}' class="reply">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    {% if is_auth == True %}
                    <form class="ui comment-reply form hide-me" style="display: none;" method="POST" action="."
                          enctype="multipart/form-data">{% csrf_token %}
                        {{ comment_form }}
                        <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                        <input type='submit' value='Reply' class='ui blue submit icon button '
                               style="    margin-top: 10px;">
                    </form>
                    {% endif %}

                </div>
                {% for child_comment in comment.children %}
                <blockquote>
                    <div class="comments" id="reply-comments">
                        <div class="comment">
                            {% if child_comment.author.image %}
                            <a href="{{ child_comment.get_profile }}" class="avatar">
                                <img class="user_img_comments" src="{{ child_comment.author.image.url }}">
                            </a>
                            {% endif %}
                            <div class="content">
                                <a href="{{ child_comment.get_profile }}" class="author">{{ child_comment.user }}</a>
                                <div class="metadata">
                                    <span class="date">{{ child_comment.timestamp|timesince }} ago</span>
                                </div>
                                <div class="text">{{ child_comment.content }}</div>
                                <div class="actions">
                                    {% if is_auth == True %}
                                    <a class='comment-children-reply-btn reply reply-me comment-reply-btn' href='#'>
                                        Reply
                                    </a>
                                    {% endif %}
                                    {% if request.user == child_comment.user or staff == "yes"%}
                                    <a href='{{ child_comment.get_delete_url }}'>Delete</a>
                                    {% endif %}
                                </div>
                            </div>
                            {% if is_auth == True %}
                            <form class="ui comment-reply form hide-me" style="display: none;" method="POST" action="."
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ comment_form }}
                                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                <input type='submit' value='Reply' class='ui blue submit icon button '
                                       style="    margin-top: 20px;">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </blockquote>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="five wide column" id="right-col-seg">
            <div style="height: 50px; background-color: #f2f2f2; text-align: center; border: 1px solid rgba(34, 36, 38, 0.15);">
                <p style="font-size: 15px; padding: 15px; font-weight: 600;">Топ 5:</p>
            </div>
            <div class="ui segment">
                <div id="best-authors-news">
                    <div class="ui grid one-author">
                        <div class="three wide column">
                            <a href="{{ rating.0.get_absolute_url }}">
                                {% if rating.0.image %}
                                <img src="{{ rating.0.image.url }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="thirteen wide column ui grid right-side">
                            <div class="eight wide column name-author">
                                <a href="{{ rating.0.get_absolute_url }}"><span style="color: #333 !important;
                                        font-weight: 500;">{{ rating.0.user.username }}</span></a>
                            </div>
                            <div class="seven wide column rating-autor">
                                <span>{{ rating.0.rating }}</span>
                            </div>
                            <div class="ui tiny progress success">
                                <div class="bar" style="width: 88%;">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grid one-author">
                        <div class="three wide column">
                            <a href="{{ rating.1.get_absolute_url }}">
                                {% if rating.1.image %}
                                <img src="{{ rating.1.image.url }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="thirteen wide column ui grid right-side">
                            <div class="eight wide column name-author">
                                <a href="{{ rating.1.get_absolute_url }}"><span>{{ rating.1.user.username }}</span></a>
                            </div>
                            <div class="seven wide column rating-autor">
                                <span>{{ rating.1.rating }}</span>
                            </div>
                            <div class="ui tiny progress success">
                                <div class="bar" style="width: 58%;">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grid one-author">
                        <div class="three wide column">
                            <a href="{{ rating.2.get_absolute_url }}">
                                {% if rating.2.image %}
                                <img src="{{ rating.2.image.url }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="thirteen wide column ui grid right-side">
                            <div class="eight wide column name-author">
                                <a href="{{ rating.2.get_absolute_url }}"><span>{{ rating.2.user.username }}</span></a>
                            </div>
                            <div class="seven wide column rating-autor">
                                <span>{{ rating.2.rating }}</span>
                            </div>
                            <div class="ui tiny progress success">
                                <div class="bar" style="width: 8%;">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grid one-author">
                        <div class="three wide column">
                            <a href="{{ rating.3.get_absolute_url }}">
                                {% if rating.3.image %}
                                <img src="{{ rating.3.image.url }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="thirteen wide column ui grid right-side">
                            <div class="eight wide column name-author">
                                <a href="{{ rating.3.get_absolute_url }}"><span>{{ rating.3.user.username }}</span></a>
                            </div>
                            <div class="seven wide column rating-autor">
                                <span>{{ rating.3.rating }}</span>
                            </div>
                            <div class="ui tiny progress success">
                                <div class="bar" style="width: 8%;">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui grid one-author">
                        <div class="three wide column">
                            <a href="{{ rating.4.get_absolute_url }}">
                                {% if rating.4.image %}
                                <img src="{{ rating.4.image.url }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="thirteen wide column ui grid right-side">
                            <div class="eight wide column name-author">
                                <a href="{{ rating.4.get_absolute_url }}"><span>{{ rating.4.user.username }}</span></a>
                            </div>
                            <div class="seven wide column rating-autor">
                                <span>{{ rating.4.rating }}</span>
                            </div>
                            <div class="ui tiny progress success">
                                <div class="bar" style="width: 8%;">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 50px; background-color: #f2f2f2; text-align: center; border: 1px solid rgba(34, 36, 38, 0.15);">
                <p style="font-size: 15px; padding: 15px; font-weight: 600;">Новости:</p>
            </div>
            <div class="ui segment">
                <div id="reading-right-now">
                    {% for obj in object_list %}
                    <div class="post">
                        <a class="post-title" href='{{ obj.0.get_absolute_url }}'>
                            <span style="font-size: 15px;">{{ obj.0.title|truncatechars_html:30 }}</span>
                        </a>
                        <div class="ui grid news-details">
                            <div class="ten wide column">
                                <a href="#">
                                    <i class="like icon"></i>
                                    <span>{{ obj.1 }} </span>
                                </a>
                                <a href="#">
                                    <i class="comment icon"></i>
                                    <span>{{ obj.0.comments.count }} </span>
                                </a>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div style="height: 50px; background-color: #f2f2f2; text-align: center; border: 1px solid rgba(34, 36, 38, 0.15);">
                <p style="font-size: 15px; padding: 15px; font-weight: 600;">Последние действия:</p>
            </div>
            <div class="ui segment">
                <div id="best-authors-news">
                    <div class="post">
                        <a href="{{ action_list.0.user.get_absolute_url }}">{{ action_list.0.user.user }}</a> solved <a
                            href="{{ action_list.0.problem.get_absolute_url }}">{{ action_list.0.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.1.user.get_absolute_url }}">{{ action_list.1.user.user }}</a> solved <a
                            href="{{ action_list.1.problem.get_absolute_url }}">{{ action_list.1.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.2.user.get_absolute_url }}">{{ action_list.2.user.user }}</a> solved <a
                            href="{{ action_list.2.problem.get_absolute_url }}">{{ action_list.2.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.3.user.get_absolute_url }}">{{ action_list.3.user.user }}</a> solved <a
                            href="{{ action_list.3.problem.get_absolute_url }}">{{ action_list.3.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                    <div class="post">
                        <a href="{{ action_list.4.user.get_absolute_url }}">{{ action_list.4.user.user }}</a> solved <a
                            href="{{ action_list.4.problem.get_absolute_url }}">{{ action_list.4.problem.title }}</a>
                        <div class="ui divider"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}