{% extends "base.html" %}
{% block content %}


<div class='ui container'>
    <div class="ui grid">
        <div class="eleven wide column">
            <div id="news-form" class="ui segment">
                <h3>Олимпиады</h3>
            </div>

            {% for ol in olymps %}
            <div class="ui segment">
                <div class="ui grid">
                    <!--      {% if ol.0.draft %}
                          <h4 style="color: red">Staff only: Draft</h4>{% endif %} {% if ol.0.publish > today %}<h4>Staff Only: Future Olympiad</h4>
                          {% endif %}-->
                    <div class="five wide column">
                        {% if ol.0.image %}
                        <a class="" href='{{ ol.0.get_absolute_url }}'><img class="olymp-image"
                                                                            src='{{ ol.0.image.url }}'/></a>
                        {% endif %}
                    </div>
                    <div class="eleven wide column">
                        <h3 class=""><a href='{{ ol.0.get_absolute_url }}' style="color:#333; font-weight:500"
                                        class="hover-me">{{ ol.0.title }}</a>
                        </h3>
                        <a style="" class="hover-me"
                           href='{{ ol.0.rating_url }}'>Результаты</a>                        
                        {% if ol.1 == False %}
                        <a href="{{ ol.0.get_like_url }}"
                           style="" class="hover-me">Зарегистрироваться</a>
                        {% endif %}
                        {% if ol.1 == True %}
                        You are registered to this olympiad
                        {% endif %}
                        {% if staff == "yes" %}
                        <br><br>
                        <a href='{{ ol.0.get_update_url }}'>Изменить</a>
                        <a href='{{ ol.0.get_delete_url }}'>Удалить</a>
                        {% endif %}
                        <h5 class="">Start: <a style="color:#333; font-weight:700" href="">{{ ol.0.start_time }}</a>
                        </h5>
                        <!--     <p class="">Authors: <a href="{{ ol.0.get_author }}" >{{ ol.0.user.username }}</a> </p> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="sixteen wide column">
            {% if staff == "yes" %}
            <h3> Staff only: <a class="ui button tiny" href='{% url "olymps:create" %}'>Create Olympiad</a></h3>
            {% endif %}
        </div>        
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if object_list.has_previous %}
                <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
            </span>

            {% if object_list.has_next %}
                <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
            {% endif %}
        </span>
    </div>    
</div>



{% endblock content %}