{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


{% block content %}
<div class='ui container'>
    <div>
    <div class="ui segment">
        <h3>
            {% if hashtag == 'all' %}
                All problems
            {% else %}
                #{{ hashtag }} problems
            {% endif %}
        </h3>
    </div>
        <br>
    </div>
    <div class="ui grid" >    
            <div class="ten wide column">
                {% for element_of_user in array_of_user %}
                <div class="ui segment">
                    <h5> 
                        <a href='{{ element_of_user.0.get_absolute_url }}' class="item" >
                            {{ forloop.counter }}. <span>{{ element_of_user.0.title }}</span>
                        </a> 
                        {% if staff == "yes" %}
                            <a href='{{ element_of_user.0.get_delete_url }}' class="ui tiny button" style="margin-left: 30px;">Delete</a>
                        {% endif %}
                    </h5>
                    <p style="font-weight: 600; font-size: 17px;">{{ element_of_user.0.content2 }}</p>
                </div>
                <div class="ui grid" id="news-features" style="padding: 7px;">
                    {% if is_auth == True %}
                        {% if element_of_user.1.solved == False %}
                        <span class="item" style="margin-right: 15px; color: #FE2E2E; font-weight: 600;">Not solved</span>
                        {% else %}
                        <span class="item" style="margin-right: 15px; color: #04B431; font-weight: 600;">Solved</span>
                        {% endif %}
                    {% endif %}
                    {% for hs in element_of_user.2 %}
                        <a href="{{ hs.url }}">#{{ hs.name }}</a>
                    {% endfor %}
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}