h1{
    font-weight:500;
}

body{

}

.logo{
    font-weight: 500 !important;
}


a:hover{
    text-decoration: none;
}

.header-menu{
    border-radius: unset !important;

}
.header-menu a{
    color:#fff !important;
}
.header-menu a:hover{
    background:none !important;
}
.ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
}

.logo-footer{
    letter-spacing: 8px;
    padding: 8px;
}


#content-choice{
    height: 94vh;
}
#segment-choice{
    width: 100%;
    border-radius: unset;
    border:none;

    box-shadow:none;
    background: #003973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .content{
        position: relative;
        top: 30%;
    }
}

.content{
    color: #333;
}
#content-subject a{
    font-weight:400;
    color:#fff;
}
#content-subject h3{
    font-weight:400;
    color:#333;
}


#content-subject{
    margin-top: 30px;
}
.words{
    font-size: 50px;
}

.category-card{
    margin-right:10px !important;
    margin-top: -20px !important;
    background-color: #2c333b !important;
    cursor: pointer;
    position:relative;
}
.go-about{
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    height: 97px;
    display: none;
    button{
        position: absolute;
        top: 28px;
        left: 50px;

    }
}
.category-name{
    margin-bottom: 2em;
    h3{
        color: #333333;
        font-weight: 500;
    }
}

.btn-journey{
    background-color:#25282a;
    color:#fff !important;
    padding: 0 50px;
    display: inline-block;
    line-height: 44px;
    height: 44px;
    border-radius: 90px;
    font-weight: bold;
    border: none;
}
.btn-journey:hover{
    color: #25282a !important;
    background:#fff;
}



#main-menu{
    border-radius:0;
    margin-top: 0;
    .search-block{
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #ffffff;
        width:209px;
        -webkit-transition-property: width; /* Safari */
        -webkit-transition-duration: 1s; /* Safari */
        transition-property: width;
        transition-duration: 1s;
    }

    .no-before::before{
        content:none !important;
    }
}

.green-c{
    background-color:   #1aae68 !important;
    color:#fff !important;

}

.topic-name{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color:#fff;
}

.pagination{
    margin-top: 30px;
}

h1{
    font-weight: 600;
}

.text-center{
    text-align: center !important;
}
.text-left{
    text-align: left !important;
}

a{
    outline:none !important;
}
button{
    outline: none !important;
}

.ui.floating.dropdown > .menu{
    margin-top: 1.1em !important;
}

.ui.menu .right.menu .dropdown:last-child .menu, .ui.menu .right.dropdown.item .menu, .ui.buttons > .ui.dropdown:last-child .menu{
    left: 0;
}

#main-part{
    .statistics{
        margin-top: 55px;
        margin-bottom: 40px;
        .statistic{
            margin: 0em 4.5em 2em;
        }
    }
    .third-part{
        background: #4b6cb7;
        margin-top: 30px;
        padding-left: 60px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-right:60px;
        p{
            line-height: 24px;
        }
    }
    .fourth-part{
        margin-top: 50px;
        padding-left: 60px;
        h2{
            margin-bottom:50px;
        }
    }
    .fifth-part{
        margin-top:50px;
        background: #4b6cb7;
        padding-bottom: 50px;
        padding-top: 50px;

        h2{
            padding-bottom:10px;
        }
        p{
            margin-bottom: 40px;
        }

        .first-col{
            margin-top: 1em;
            margin-right: 3em;

        }
        .second-col{
            margin-right: 3em;
        }
        .third-col{
            margin-bottom: 1em;
        }
        .column{
            height: 350px;
        }

    }
}